USE [master]
GO
/****** Object:  Database [BiletSatisOtomasyonu]    Script Date: 23.05.2023 18:47:07 ******/
CREATE DATABASE [BiletSatisOtomasyonu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BiletSatisOtomasyonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BiletSatisOtomasyonu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BiletSatisOtomasyonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BiletSatisOtomasyonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BiletSatisOtomasyonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BiletSatisOtomasyonu]
GO
/****** Object:  Table [dbo].[TblSeferler]    Script Date: 23.05.2023 18:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSeferler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IsimSoyisim] [nvarchar](50) NULL,
	[TelefonNo] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](50) NULL,
	[Nereden] [nvarchar](50) NULL,
	[Nereye] [nvarchar](50) NULL,
	[KoltukNo] [int] NULL,
	[Tarih] [datetime] NULL,
	[Fiyat] [money] NULL,
	[OtobusFirma] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblSeferler] ON 

INSERT [dbo].[TblSeferler] ([id], [IsimSoyisim], [TelefonNo], [Cinsiyet], [Nereden], [Nereye], [KoltukNo], [Tarih], [Fiyat], [OtobusFirma]) VALUES (9, N'arda', N'(123) 123-1231', N'Bayan', N'İstanbul', N'İzmir', 19, CAST(N'2023-05-25T00:00:00.000' AS DateTime), 160.0000, N'Truva')
SET IDENTITY_INSERT [dbo].[TblSeferler] OFF
GO
USE [master]
GO
